*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{
    font-family: 'NanumSquareRound';
    font-size: 16px;
    line-height: 26px;
    color: #000;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*--기본세팅--*/

/*--top st--*/
#t_header{
    width: 1920px;
    width:100%;
    height: 200px;
    position: absolute;
    top:0; left:0;
    z-index: 99;
}

.t_header_inner{
    /* position: absolute; */
    width:1320px; margin:0 auto;
    height: 300px;
}

#top{
    width: 1320px;
    height: 100px;
    margin: 0 auto;
    padding-top: 40px;
}

.search{
    width: 220px;
    height: 35px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
    border: 3px solid #fdb72f;
    box-sizing: border-box;
    float: left;
    background: url(../images/search.png) no-repeat 180px center;
}

.logo{
    width: 277px;
    height: 71px;
    position: absolute;
    left: 50%;
    margin-left: -138.5px;
}

.login{
    float: right;
}

.login a{
    float: left;
    padding: 35px 10px;
    font-size: 14px;
    color: #fff;
}

.login a:hover{
    color: #fdb72f;
    text-decoration: underline;
}

/*--top en--*/

/*--menu st--*/
#header{
   width: 880px;
   height: 90px;
   margin: 0 auto;
   position: relative;
}

.nav{
    position: absolute;
}

.nav li{
    float: left;
   
}

.nav li a{
    display: block;
    font-size: 18px;
    font-weight: bold; 
    padding: 30px 71px;
    color: #fff;
}

.nav li a:hover {
    background: url(../images/m_hover.png)no-repeat 60px 28px;
}
/*--menu en--*/



.benner{
    width:100%;
    height:913px;/*수정요*/
    margin-bottom:200px;
}

.benner video{width:100%; display:block;}

/*--about st-- */
#about{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
}

.about_sign img{
    width: 880px;
    height: 600px;
    float: left;
}

.about_text{
    float: right;
    margin-top: 40px;
}

.about_text h1{
    font-family: 'yg-jalnan';
    font-size: 40px;
    display:  inline-block;
    padding: 25px;
    background: url(../images/bg_circle.png) no-repeat left top;
    margin-bottom: 35px;
}

.about_text p{
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 25px;
}

.yellow{
    color: #fdb72f;
    font-weight: bold;
}
/*--about en-- */

/*--story st--*/
#story{
    /* width: 1920px; */
    height: 883px;
    background-color: #fff1bb;
    margin-top: 300px;
}

.story_inner{
    width: 1320px;
    height: 883px;
    margin: 0 auto;
    padding: 80px 0;
    box-sizing: border-box;
    text-align: center;
}

.story_inner h1{
    font-family: 'yg-jalnan';
    font-size: 40px;
    display:  inline-block;
    padding: 25px;
    background: url(../images/bg_circle.png) no-repeat left top;
    margin-bottom: 15px;
}

/* .story_inner p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
} */

.font-size{
    font-size: 20px;
    line-height: 35px;
}

.story_box{
    width: 1320px;
    height: 440.33px;
    margin-top: 95px;
}

.story1{
    width: 416px;
    float: left;
    margin-left: 24px;
}


.story1 p{
    font-size: 15px;
    line-height: 25px;
}

.story1 .sot_orange{
    display: inline-block;
    padding: 20px 0;
    font-size: 20px;
    color: #ff7e00;
    font-weight: bold;
}


/*--story en--*/

/*--사계정 st--*/

#jeju_in{
    width: 1320px;
    height: 800px;
    
    margin: 0 auto;
    margin-top: 300px;
    text-align: center;
}

#jeju_in h1{
    font-family: 'yg-jalnan';
    font-size: 40px;
    display:  inline-block;
    padding: 25px;
    background: url(../images/bg_circle.png) no-repeat left top;
    margin-bottom: 10px;
}

#jeju_in p{
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
}

.jeju_inner{
    height: 640px;
    
}

/* 탭 */





/* .tabs.type1 { display: flex; } */
.tabs.type1{width:1000px; margin:0 auto; }
.tabs.type1 li {
    float:left;
}



.tabs.type1 li a { 
    display: block; 
    padding: 5px 30px;
    width:100px;
    margin:50px 44px;
    font-size: 16px;
    border: 1px solid #fdb72f;
    border-radius: 50px; 
}

/* .tabs.type1 li.on { 
    background: #fdb72f;
    padding: 5px 30px;
    width:100px;
    margin:50px 44px;
    font-size: 16px;
    border: 1px solid #fdb72f;
    border-radius: 50px; 
} */

.tabs.type1 li.on a{
    font-weight: 600;
    color: #fff; 
    background: #fdb72f;
}

.tab_con img{
    width: 920px;
    border: 3px solid #ccc;
    
}


/* 탭 콘텐츠 열고 닫힘설정 */
.tab_con { display: none; margin-top:50px; }
.tab_con.on { display: block; }




/*--사계정 en--*/

/* .posi{width:926px; height:656px;
   
} */


/* .posi{
    width:926px; 
    height:656.52px; 
   
   position:relative;
  
} */

/* .box_on{width:100%; height:100%;  
 
    position:absolute; 
    top: 100px; left:0px;
   
    color:rgba(0, 0, 0, 0);
} */

.tab div:hover .box_on
{color:rgba(0, 0, 0, 1);}




/*--content_inner st--*/
#content{
    /* width: 1920px; */
    width:100%;
    /* height: 1200px; */
    margin-top: 300px;
}

.con_inner{
    width: 1320px;
    margin: 0 auto;
    padding: 80px 0;
    box-sizing: border-box;
    text-align: center;
}

.con_inner h1{
    font-family: 'yg-jalnan';
    font-size: 40px;
    display:  inline-block;
    padding: 25px;
    background: url(../images/bg_circle.png) no-repeat left top;
    margin-bottom: 10px;
}

.con_inner h5{
    font-size: 20px;
    padding-bottom: 25px;

}

.con_inner p{
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
}

.con{
    width: 100%;
    height: 800px;

    overflow: hidden;
}

.con img{
    display: block;
}
.con li{
    width: 25%;
    float: left;
    position: relative;
}

.box{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: all 1s;
  }

  .con_hover{
    display: block;
  }

 .con li:hover .box{
    opacity: 1;
  }


  .con li p{
    padding-top: 200px;
    color: #fff
  }


/*--content_inner en--*/
/*--footer--*/

/*--footer--*/

#footer{
    width: 100%;
    height: 250px;
    background-color: #fdb72f;
}

.footer_inner{
    width: 1320px;
    /* height: 200px; */
    margin: 0 auto;


}

.footer_inner .f_logo{
    width: 144px;
    height: 105px;
    float: left;
    padding-top: 65px;
}

.footer_inner .f_logo img{
    padding-right: 100px;

}

.f_box{
    width: 600px;
    height: 80px;
    float: left;
}

.f_menu li{
    float: left;
    padding: 10px 20px 10px 0;
    font-weight: bold;
}

.f_menu li:hover{
    color: #fff;
}

.footer_inner .sns{
    padding-top: 60px;
    float: right;
}

.footer_inner .sns li{
    float: left;
    padding: 0 10px;
    opacity: initial;
}

.sns li img{
    opacity: calc(0.3);
}

.sns li img:hover{
    opacity: calc(1);
}


/* .f_logo{float:left;} */
.f_text{
    float:left;
    width:550px;
    margin: 50px;
}

/* top버튼 */
.button{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
  }